.article {
  $margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: $margin;
  padding-bottom: $margin;
  font-size: $font-size;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-blue;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
    &::after {
      content: none;
    }
  }
  @media (min-width: $screen-sm) {
    $margin: 7rem;
    $border-width: 5px;
    flex-wrap: nowrap;
    margin-bottom: $margin;
    padding-bottom: $margin;
  }
  .opening & {
    opacity: 0;
    transform: translateY(100vh);
    transition-property: transform opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(.55,0,.1,1);
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition-delay: 150ms * $i;
      }
    }
  }
  &--slideUp  {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  &__header {
    margin-bottom: 2rem;
    @media (min-width: $screen-sm) {
      width: $width-article-info;
      margin-right: $margin-article-info;
    }
  }
  &__main {
    @media (min-width: $screen-sm) {
      width: calc(100% - #{$width-article-info} - #{$margin-article-info});
    }
  }
  &__date {
    position: relative;
    display: inline-block;
    padding: .3rem 1rem;
    border-radius: 3px;
    background-color: $color-blue;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-pink;
      border-radius: 3px;
      transform: rotate(5deg);
      z-index: -1;
    }
    @media (min-width: $screen-sm) {
      $size: $width-article-info;
      width: $size;
      height: $size;
      padding: 2.8rem 0 0 0;
      line-height: 1.4;
      border-radius: 50%;
      text-align: center;
      &::after {
        $diff: -3px;
        top: $diff;
        left: $diff;
        border-radius: 50%;
      }
    }
  }
  &__year {
    &::before {
      content: ', ';
      @media (min-width: $screen-sm) {
        content: '';
      }
    }
  }
  &__title {
    margin: 0 0 2rem;
    font-size: $font-size-heading;
    line-height: 1.4;
    color: #000;
  }
  &__body {
    margin: 0;
  }
}
