.article {
  $margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: $margin;
  padding-bottom: $margin + 2rem;
  font-size: $font-size;
  border-bottom: 1px solid $color-blue;
  @media (min-width: $screen-sm) {
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  @media (min-width: $screen-sm) {
    $article-margin: $margin * 1.5;
    $border-width: 5px;
    flex-wrap: nowrap;
    margin-bottom: $article-margin;
    padding-bottom: $article-margin;
  }
  .opening & {
    opacity: 0;
    transform: translateY(100vh);
    transition-property: transform opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(.55,0,.1,1);
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition-delay: 150ms * $i;
      }
    }
  }
  &--slideUp  {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  &__header {
    margin-bottom: 2rem;
    @media (min-width: $screen-sm) {
      width: $size-article-date;
      margin-right: $margin;
    }
  }
  &__date {
    display: none;
  }
  &__main {
    @media (min-width: $screen-sm) {
      width: calc(100% - #{$size-article-date} - #{$margin});
    }
  }
  &__title {
    margin: 0 0 2rem;
    font-size: $font-size-heading;
    color: #000;
  }
  &__body {
    margin: 0;
  }
  &__footer {
    position: absolute;
    bottom: 0;
    right: -.5rem;
  }
}
