.aside {
  &__item {
    margin-bottom: $margin;
    .opening & {
      opacity: 0;
      transform: translateY(100vh);
      transition-property: transform opacity;
      transition-duration: 500ms;
      transition-timing-function: cubic-bezier(.55,0,.1,1);
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: 150ms * $i;
        }
      }
    }
    &--slideUp {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
  }
  &__heading {
    position: relative;
    margin: 0 0 2rem;
    font-size: 2.2rem;
    font-weight: 100;
    line-height: 1.4;
    text-align: center;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-blue;
      z-index: -1;
    }
    &::after {
      transform: translateY(-2px);
    }
    &::before {
      transform: translateY(2px);
    }
  }
  &__headingInner {
    padding: 0 2rem;
    background-color: #fff;
    z-index: 1;
  }
}
