html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  line-height: 2;
  color: $color-text;
}

h2 {
  margin: 0 0 1rem;
  font-size: 2.3rem;
}

p {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .3s;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

