.category {
  $height: 24px;
  position: relative;
  display: inline-block;
  height: $height;
  line-height: $height;
  padding-left: 2.5rem;
  font-size: 1.0rem;
  background-color: $color-gray;
  color: #000;
  &::before {
    $size: 7px;
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: $size / 2 * -1;
    width: $size;
    height: $size;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border-top: $height / 2 solid transparent;
    border-bottom: $height / 2 solid transparent;
    border-left: $height / 2 solid $color-gray;
    transition: border-left-color .3s;
  }
  &:hover {
    color: #fff;
    background-color: $color-pink;
    &::after {
      border-left-color: $color-pink;
    }
  }
}
