.gnav {
  &__container {
    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__item {
    @media (min-width: $screen-sm) {
      position: relative;
      width: calc(100% / 3);
      margin: 0 3px;
      font-size: 1.4rem;
      transition: all .3s;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-blue;
        transform: skew(-30deg);
        z-index: -1;
      }
      &:hover {
        width: 90%;
        &::before {
          background-color: $color-pink;
        }
      }
    }
  }
  &__link {
    display: block;
    height: 4rem;
    line-height: 4rem;
    padding-bottom: .5rem;
    font-size: 1.6rem;
    @media (min-width: $screen-sm) {
      color: #fff;
    }
  }
}
