.gnav {
  display: none;
  @media (min-width: $screen-sm) {
    display: block;
    margin: $margin 0 $margin * 2;
  }
  &--slideUp {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  .opening & {
    transform: translateY(100vh);
    opacity: 0;
    transition-property: transform opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(.55,0,.1,1);
  }
  &.is-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    text-align: center;
  }
  &__container {
    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__item {
    @media (min-width: $screen-sm) {
      position: relative;
      width: calc(100% / 3);
      margin: 0 3px;
      font-size: 1.4rem;
      transition: all .3s;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-blue;
        border-radius: 3px;
        transform: skew(-30deg);
        z-index: -1;
      }
      &:hover {
        width: 90%;
        &::before {
          background-color: $color-pink;
        }
      }
    }
  }
  &__link {
    display: block;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.2rem;
    letter-spacing: .5rem;
    @media (min-width: $screen-sm) {
      color: #fff;
    }
  }
}
