.header {
  margin: $margin / 2 0 $margin;
  body:not(.opening) & {
    padding: 0 $padding-page;
  }
  @media (min-width: $screen-sm) {
    text-align: center;
    margin: $margin 0 $margin * 2;
    body:not(.opening) &,
    &--animationEnd {
      max-width: $width-container;
      margin-right: auto;
      margin-left: auto;
      padding: 0 $padding-page + 1rem;
    }
  }
  &__hamburger {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    z-index: 2;
    body.opening & {
      pointer-events: none;
      opacity: 0;
    }
    .header--animationEnd & {
      opacity: 1;
      pointer-events: initial;
    }
    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}
