.header {
  text-align: center;
  padding: 0 1em;
  @media (min-width: $screen-sm) {
    padding: 0;
    body:not(.opening) &,
    &--animationEnd {
      width: $font-size * 50;
      margin: 0 auto;
    }
  }
  &__bottom {
    &--slideUp {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
    .opening & {
      transform: translateY(100vh);
      opacity: 0;
      transition-property: transform opacity;
      transition-duration: 500ms;
      transition-timing-function: cubic-bezier(.55,0,.1,1);
    }
  }
}
