.l {
  &-container {
    padding: 0 2rem;
    max-width: $width-container;
    @media (min-width: $screen-sm) {
      display: flex;
      margin: 0 auto;
    }
  }
  &-header {
  }
  &-main {
    @media (min-width: $screen-sm) {
      width: $width-main;
      margin-right: 5rem;
    }
  }
  &-aside {
    @media (min-width: $screen-sm) {
      width: $width-aside;
    }
  }
  &-footer {
    @media (min-width: $screen-sm) {
      width: $width-container;
    }
  }
}
