.l {
  &-container {
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: $width-container;
    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
    }
  }
  &-header {
  }
  &-main {
    @media (min-width: $screen-sm) {
      width: $width-main;
    }
  }
  &-aside {
    @media (min-width: $screen-sm) {
      width: calc(#{$width-aside} + #{$margin});
      margin-left: 5rem;
      padding-left: 5rem;
      border-left: 1px solid $color-blue;
    }
  }
  &-footer {
    padding: 0 2rem;
    @media (min-width: $screen-sm) {
      max-width: $width-container;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
