.logo {
  margin: 3rem 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  &__link {
    pointer-events: none;
    body:not(.opening) &,
    .header--animationEnd & {
      pointer-events: initial;
    }
  }
  &__svg {
    body:not(.opening) & {
      $circleR: 40px;
      $ds: 0.05;

      width: $circleR * 4 * (1 + $ds);
      height: $circleR * 2 * (1 + $ds);
    }
  }
  circle {
    transform-origin: 50%;
  }
  text {
    text-anchor: middle;
    dominant-baseline: middle;
  }
}
