.popularPost {
  counter-reset: ranking;
  &__item {
    position: relative;
    display: flex;
    padding-bottom: $margin-aside-item / 2;
    margin-bottom: $margin-aside-item / 2;
    border-bottom: 1px dashed $color-blue;
    font-size: 1.4rem;
    line-height: 1.5;
    &:first-child {
      padding-top: $margin-aside-item / 2;
      border-top: 1px dashed $color-blue;
      &::after {
        top: calc(#{$margin-aside-item} / 2 + #{$diff-aside-icon});
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      counter-increment: ranking;
      content: counter(ranking);
      display: inline-block;
      width: $size-aside-icon;
      height: $size-aside-icon;
      line-height: $size-aside-icon;
      background-color: $color-blue;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      margin-right: 1rem;
    }
    &::after {
      content: '';
      position: absolute;
      top: $diff-aside-icon;
      left: $diff-aside-icon;
      width: $size-aside-icon;
      height: $size-aside-icon;
      background-color: $color-pink;
      border-radius: 50%;
      z-index: -1;
    }
  }
  &__link {
    width: calc(100% - #{$size-aside-icon} - 1rem);
  }
}
