.popularPost {
  counter-reset: ranking;
  &__item {
    position: relative;
    padding-bottom: $margin-aside-item;
    margin-bottom: $margin-aside-item;
    border-bottom: 1px dashed $color-blue;
    font-size: 1.4rem;
    line-height: 1.5;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    @media (min-width: $screen-sm) {
      &:hover {
        .popularPost__num {
          background-color: $color-pink;
          &::after {
            background-color: $color-blue;
          }
        }
        .popularPost__text {
          color: $color-pink;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  &__text {
    position: relative;
    width: calc(100% - #{$size-aside-icon} - 1rem);
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $color-pink;
      transition: width .3s;
    }
  }
  &__num {
    position: relative;
    display: inline-block;
    width: $size-aside-icon;
    height: $size-aside-icon;
    line-height: $size-aside-icon;
    background-color: $color-blue;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin-right: 1rem;
    transition: background-color .3s;
    &::before {
      counter-increment: ranking;
      content: counter(ranking);
    }
    &::after {
      content: '';
      position: absolute;
      top: $diff-aside-icon;
      left: $diff-aside-icon;
      width: 100%;
      height: 100%;
      background-color: $color-pink;
      border-radius: 50%;
      z-index: -1;
      transition: background-color .3s;
    }
  }
}
