.post {
  position: relative;
  margin-top: $size-article-date;
  @media (min-width: $screen-sm) {
    margin-top: 0;
  }
  &__tag {
    justify-content: center;
    margin-right: -.5rem;
    font-size: 1rem !important;
    @media (min-width: $screen-sm) {
      justify-content: flex-end;
    }
  }
  &__header {
    margin-bottom: 5rem;
    @media (min-width: $screen-sm) {
      position: relative;
    }
  }
  &__datetime {
    display: none;
  }
  &__date {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 2rem;
    margin-left: -45px;
    @media (min-width: $screen-sm) {
      top: 50%;
      left: $size-article-date / 2;
      margin-top: $size-article-date / 2 * -1;
      margin-left: $size-article-date / 2 * -1;
    }
  }
  &__title {
    margin: 0;
    padding-top: $margin / 3;
    padding-bottom: $margin / 3;
    border-top: 4px double $color-blue;
    border-bottom: 4px double $color-blue;
    font-size: $font-size-heading;
    line-height: 1.4;
    text-align: center;
    @media (min-width: $screen-sm) {
      padding-left: $size-article-date + .5rem;
      padding-right: .5rem;
    }
  }
  &__body {
    $margin-post: 3rem;
    font-size: $font-size;
    margin-bottom: $margin;
    counter-reset: h3;
    > *:last-of-type:not(h3) {
      margin-bottom: 0;
    }
    h3 {
      $size: 5rem;
      position: relative;
      margin: $margin-post * 2.5 + $size 0 $margin-post;
      text-align: center;
      font-size: 2rem;
      &::before,
      &::after {
        position: absolute;
        transform: translateX(-50%);
        color: #fff;
        width: $size;
        height: $size;
        line-height: $size;
        border-radius: 50%;
      }
      &::before {
        counter-increment: h3;
        content: counter(h3, decimal-leading-zero);
        top: ($size + $margin-post / 2) * -1;
        left: 50%;
        background-color: $color-blue;
        font-size: .8em;
        font-weight: normal;
        letter-spacing: .1rem;
      }
      &::after {
        $diff: 3px;
        content: '';
        top: calc((#{$size} + #{$margin-post} / 2) * -1 + #{$diff});
        left: calc(50% + #{$diff});
        background-color: $color-pink;
        z-index: -1;
      }
    }
    p {
      margin: $margin-post 0;
    }
    a {
      color: $color-pink;
      &:hover {
        text-decoration: underline;
      }
    }
    pre {
      margin: $margin-post 0;
    }
    code:not(.hljs) {
      padding: 0 .2em;
      background-color: #f3f3f3;
      border-radius: 3px;;
    }
  }
  &__sns {
    margin-top: 3rem;
    @media (min-width: $screen-sm) {
      padding-bottom: 3rem;
      border-bottom: 1px solid $color-blue;
    }
  }
  &__snsTitle {
    position: relative;
    font-size: 2.2rem;
    font-weight: normal;
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-blue;
      z-index: -1;
    }
  }
  &__titleInner {
    padding: 0 2rem;
    background-color: #fff;
  }
}
