.post {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  &__header {
    margin-bottom: 2rem;
    @media (min-width: $screen-sm) {
      width: $size-article-date;
      margin-right: $margin;
      text-align: center;
    }
  }
  &__date {
    display: none;
  }
  &__tag {
    margin-top: $margin / 2;
  }
  &__main {
    max-width: 100%;
    @media (min-width: $screen-sm) {
      width: calc(100% - #{$size-article-date} - #{$margin});
    }
  }
  &__title {
    margin: 0 0 3rem;
    font-size: $font-size-heading;
    line-height: 1.4;
    padding: $margin / 3 0;
    border-top: 4px double $color-blue;
    border-bottom: 4px double $color-blue;
  }
  &__body {
    font-size: $font-size;
    margin-bottom: $margin;
    h3 {
      padding-left: 1.6rem;
      margin: 4rem 0 2rem;
      border-left: 5px solid $color-blue;
      font-size: 2rem;
    }
    p {
      margin-top: 2rem;
    }
    a {
      color: $color-pink;
      &:hover {
        text-decoration: underline;
      }
    }
    pre {
      margin-top: 2rem;
    }
    code:not(.hljs) {
      padding: 0 .2em;
      background-color: #f3f3f3;
      border-radius: 3px;;
    }
  }
  &__sns {
    margin-top: 3rem;
    @media (min-width: $screen-sm) {
      padding-bottom: 3rem;
      border-bottom: 1px solid $color-blue;
    }
  }
  &__snsTitle {
    position: relative;
    font-size: 2.2rem;
    font-weight: normal;
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-blue;
      z-index: -1;
    }
  }
  &__titleInner {
    padding: 0 2rem;
    background-color: #fff;
  }
}
