.post {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  &__header {
    margin-bottom: 2rem;
    @media (min-width: $screen-sm) {
      width: $size-article-date;
      margin-right: $padding-page;
      text-align: center;
    }
    @media (min-width: $screen-md) {
      margin-right: $margin;
    }
  }
  &__date {
    display: none;
  }
  &__tag {
    margin-top: $margin / 2;
  }
  &__main {
    max-width: 100%;
    @media (min-width: $screen-sm) {
      width: calc(100% - #{$size-article-date} - #{$padding-page});
    }
    @media (min-width: $screen-md) {
      width: calc(100% - #{$size-article-date} - #{$margin});
    }
  }
  &__title {
    margin: 0 0 3rem;
    font-size: $font-size-heading;
    line-height: 1.4;
    padding: $margin / 3 0;
    border-top: 4px double $color-blue;
    border-bottom: 4px double $color-blue;
  }
  &__body {
    $margin-post: 3rem;
    font-size: $font-size;
    margin-bottom: $margin;
    counter-reset: h3;
    h3 {
      $size: 5rem;
      position: relative;
      margin: $margin-post * 2 + $size 0 $margin-post;
      text-align: center;
      font-size: 2rem;
      &::before,
      &::after {
        position: absolute;
        transform: translateX(-50%);
        color: #fff;
        width: $size;
        height: $size;
        line-height: $size;
        border-radius: 50%;
      }
      &::before {
        counter-increment: h3;
        content: counter(h3, decimal-leading-zero);
        top: ($size + $margin-post / 2) * -1;
        left: 50%;
        background-color: $color-blue;
        font-size: .8em;
        font-weight: normal;
        letter-spacing: .1rem;
      }
      &::after {
        $diff: 3px;
        content: '';
        top: calc((#{$size} + #{$margin-post} / 2) * -1 + #{$diff});
        left: calc(50% + #{$diff});
        background-color: $color-pink;
        z-index: -1;
      }
    }
    p {
      margin-top: $margin-post;
    }
    a {
      color: $color-pink;
      &:hover {
        text-decoration: underline;
      }
    }
    pre {
      margin-top: $margin-post;
    }
    code:not(.hljs) {
      padding: 0 .2em;
      background-color: #f3f3f3;
      border-radius: 3px;;
    }
  }
  &__sns {
    margin-top: 3rem;
    @media (min-width: $screen-sm) {
      padding-bottom: 3rem;
      border-bottom: 1px solid $color-blue;
    }
  }
  &__snsTitle {
    position: relative;
    font-size: 2.2rem;
    font-weight: normal;
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-blue;
      z-index: -1;
    }
  }
  &__titleInner {
    padding: 0 2rem;
    background-color: #fff;
  }
}
