.search {
  display: inline-block;
  margin: 2rem 0 2rem;
  height: 40px;
  &__box {
    display: none;
  }
  &__icon {
    padding: 1.3rem;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
  }
}

input.gsc-search-button-v2 {
  width: auto !important;
  height: auto !important;
}
