.search {
  display: none;
  height: 100%;
  &:hover {
    .search__input {
      color: $color-pink;
    }
  }
  &__form {
    display: flex;
    height: 100%;
  }
  &__input {
    width: 80%;
    height: 100%;
    color: $color-blue;
    font-size: 1.8rem;
    text-align: center;
    outline: none;
  }
  &__btn {
    width: 20%;
    color: #fff;
    cursor: pointer;
    outline: none;
  }
  &__bg {
    $border-width: 2px;
    position: absolute;
    top: 50%;
    left: $border-width;
    width: 80%;
    height: calc(100% - #{$border-width} * 2);
    transform: translateY(-50%) skew(-30deg);
    background-color: #fff;
    z-index: -1;
  }
}

