.hidden-sm {
  display: none;
  @media (min-width: $screen-sm) {
    display: block;
  }
}

.hover-line-effect {
  @media (min-width: $screen-sm) {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $color-pink;
      transition: width .3s;
    }
    &:hover {
      color: $color-pink;
      &::after {
        width: 100%;
      }
    }
  }
}
