$color-pink: #ff1a84;
$color-blue: #0f2c70;
$color-gray: #eee;
$color-text: #333;

$font-size: 1.6rem;
$font-size-heading: 2.4rem;

$padding-article-info: 3rem;
$margin-main: 10rem;

$width-article-info: 10rem;
$width-main: $font-size * 50 + $width-article-info + $padding-article-info; // 930px
$width-aside: 20rem;
$width-container: $width-main + $margin-main + $width-aside;

$screen-sm: 930px;

