$color-pink: #ff1a84;
$color-blue: #0f2c70;
$color-gray: #eee;
$color-text: #333;

$font-size: 1.6rem;
$font-size-heading: 2.4rem;

$margin: 5rem;
$margin-aside-item: 2rem;

$padding-page: 2rem;

$size-article-date: 10rem;

$width-main: $font-size * 45 + $size-article-date + $margin; // 870px
$width-aside: 30rem;
$width-container: $width-main + $margin * 2 + $width-aside; // 1270px

$size-aside-icon: 30px;
$diff-aside-icon: 2px;

$screen-sm: 930px;
$screen-md: 1270px;

