html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  color: #333;
  line-height: 2;
}

h2 {
  margin: 0 0 1rem;
  font-size: 2.3rem;
}

p {
  margin: 1rem 0;
}

a {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-container {
  max-width: 133rem;
  padding: 0 2rem;
}

.header {
  margin-bottom: 11rem;
  text-align: center;
}

body:not(.opening) .header {
  padding: 0 2rem;
}

.header__bottom--slideUp {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.opening .header__bottom {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
}

.logo {
  margin: 3rem 0 5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.logo__link {
  pointer-events: none;
}

body:not(.opening) .logo__link,
.header--animationEnd .logo__link {
  pointer-events: initial;
}

body:not(.opening) .logo__svg {
  width: 168px;
  height: 84px;
}

.logo circle {
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

.logo text {
  text-anchor: middle;
  dominant-baseline: middle;
}

.iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  margin: 2rem 0;
  -webkit-box-pack: center;
  justify-content: center;
}

.iconList__item {
  margin: 0 .7rem;
}

.iconList__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  color: #fff;
  border-radius: 50%;
  background-color: #0f2c70;
  font-size: 2rem;
  line-height: 40px;
}

.iconList__icon:hover {
  background-color: #ff1a84;
}

.gnav__link {
  display: block;
  height: 4rem;
  letter-spacing: .5rem;
  font-size: 1.2rem;
  line-height: 4rem;
}

.search {
  display: none;
  margin: 3rem 0;
}

input.gsc-search-button-v2 {
  width: auto !important;
  height: auto !important;
}

.article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #0f2c70;
}

.article:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.article:last-child::after {
  content: none;
}

.opening .article {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
}

.opening .article:nth-child(1) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.opening .article:nth-child(2) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.opening .article:nth-child(3) {
  -webkit-transition-delay: 450ms;
  transition-delay: 450ms;
}

.opening .article:nth-child(4) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}

.opening .article:nth-child(5) {
  -webkit-transition-delay: 750ms;
  transition-delay: 750ms;
}

.opening .article:nth-child(6) {
  -webkit-transition-delay: 900ms;
  transition-delay: 900ms;
}

.opening .article:nth-child(7) {
  -webkit-transition-delay: 1050ms;
  transition-delay: 1050ms;
}

.opening .article:nth-child(8) {
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}

.opening .article:nth-child(9) {
  -webkit-transition-delay: 1350ms;
  transition-delay: 1350ms;
}

.opening .article:nth-child(10) {
  -webkit-transition-delay: 1500ms;
  transition-delay: 1500ms;
}

.article--slideUp {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.article__header {
  margin-bottom: 2rem;
}

.article__title {
  margin: 0 0 2rem;
  color: #000;
  font-size: 2.4rem;
  line-height: 1.4;
}

.article__body {
  margin: 0;
}

.date {
  position: relative;
  display: inline-block;
  padding: .3rem 1rem;
  color: #fff;
  border-radius: 3px;
  background-color: #0f2c70;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

.date::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  border-radius: 3px;
  background-color: #ff1a84;
}

.date__year::before {
  content: ', ';
}

.category {
  position: relative;
  display: inline-block;
  height: 24px;
  padding-left: 2.5rem;
  color: #fff;
  background-color: #0f2c70;
  font-size: 1.0rem;
  line-height: 24px;
}

.category::before {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 7px;
  height: 7px;
  margin-top: -3.5px;
  content: '';
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
}

.category::after {
  position: absolute;
  top: 0;
  left: 100%;
  content: '';
  -webkit-transition: border-left-color .3s;
  transition: border-left-color .3s;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #0f2c70;
}

.category:hover {
  background-color: #ff1a84;
}

.category:hover::after {
  border-left-color: #ff1a84;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post__header {
  margin-bottom: 2rem;
}

.post__category {
  margin-left: 2rem;
}

.post__main {
  max-width: 100%;
}

.post__title {
  margin: 0 0 3rem;
  font-size: 2.6rem;
  line-height: 1.4;
}

.post__body {
  font-size: 1.6rem;
}

.post__body h3 {
  margin: 4rem 0 2rem;
  padding-left: 1.6rem;
  border-left: 5px solid #0f2c70;
  font-size: 2rem;
}

.post__body p {
  margin: 2rem 0;
}

.post__body a {
  color: #ff1a84;
}

.post__body a:hover {
  text-decoration: underline;
}

.post__body code:not(.hljs) {
  padding: 0 .2em;
  border-radius: 3px;
  background-color: #f3f3f3;
}

.footer {
  position: relative;
  margin: 5rem auto 0;
  padding: 5rem 0;
  text-align: center;
}

.footer::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #0f2c70;
}

.aside__item {
  margin-bottom: 7rem;
}

.opening .aside__item {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
}

.opening .aside__item:nth-child(1) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.opening .aside__item:nth-child(2) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.opening .aside__item:nth-child(3) {
  -webkit-transition-delay: 450ms;
  transition-delay: 450ms;
}

.opening .aside__item:nth-child(4) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}

.opening .aside__item:nth-child(5) {
  -webkit-transition-delay: 750ms;
  transition-delay: 750ms;
}

.aside__item--slideUp {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.aside__heading {
  margin: 0 0 2rem;
  font-size: 2.4rem;
  line-height: 1.4;
}

.categoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categoryList__item {
  text-align: center;
  font-size: 1.6rem;
}

.categoryList__item:not(:last-child) {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.categoryList__icon {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #0f2c70;
  font-size: 2rem;
  line-height: 5rem;
}

.categoryList__icon::after {
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 50%;
  background-color: #ff1a84;
}

.categoryList__text {
  display: block;
  font-size: 1.3rem;
}

.popularPost {
  counter-reset: ranking;
}

.popularPost__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  line-height: 1.4;
}

.popularPost__item:not(:last-child) {
  margin-bottom: 2rem;
}

.popularPost__item::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  content: counter(ranking);
  counter-increment: ranking;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #0f2c70;
  line-height: 30px;
}

.popularPost__item::after {
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  content: '';
  border-radius: 50%;
  background-color: #ff1a84;
}

.popularPost__link {
  width: calc(100% - 30px - 1rem);
}

.hidden-sm {
  display: none;
}

@media (min-width: 930px) {
  .l-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }

  .l-main {
    width: calc(100% - 5rem - 30rem);
    margin-right: 5rem;
    padding-right: 5rem;
    border-right: 1px solid #0f2c70;
  }

  .l-aside {
    width: 30rem;
  }

  .l-footer {
    max-width: 133rem;
  }

  body:not(.opening) .header,
  .header--animationEnd {
    max-width: 133rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 2rem;
  }

  .gnav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .gnav__item {
    position: relative;
    width: calc(100% / 3);
    margin: 0 3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 1.4rem;
  }

  .gnav__item::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    background-color: #0f2c70;
  }

  .gnav__item:hover {
    width: 90%;
  }

  .gnav__item:hover::before {
    background-color: #ff1a84;
  }

  .gnav__link {
    color: #fff;
  }

  .article {
    margin-bottom: 7rem;
    padding-bottom: 7rem;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .article__header {
    width: 10rem;
    margin-right: 3rem;
  }

  .article__main {
    width: calc(100% - 10rem - 3rem);
  }

  .date {
    width: 10rem;
    height: 10rem;
    padding: 2.8rem 0 0 0;
    text-align: center;
    border-radius: 50%;
    line-height: 1.4;
  }

  .date::after {
    top: -3px;
    left: -3px;
    border-radius: 50%;
  }

  .date__year::before {
    content: '';
  }

  .post__header {
    width: 10rem;
    margin-right: 3rem;
  }

  .post__category {
    margin: 2rem 0 0 0;
  }

  .post__main {
    width: calc(100% - 10rem - 3rem);
  }

  .categoryList {
    display: block;
  }

  .categoryList__item:not(:last-child) {
    margin-right: 0;
  }

  .categoryList__item {
    text-align: start;
  }

  .categoryList__icon {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .categoryList__text {
    display: inline;
    font-size: 1.6rem;
  }

  .hidden-sm {
    display: block;
  }

  .hover-line-effect {
    position: relative;
    padding-bottom: .5rem;
  }

  .hover-line-effect::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    content: '';
    -webkit-transition: width .3s;
    transition: width .3s;
    background-color: #ff1a84;
  }

  .hover-line-effect:hover {
    color: #ff1a84;
  }

  .hover-line-effect:hover::after {
    width: 100%;
  }
}
