html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  color: #333;
  line-height: 2;
}

h2 {
  margin: 0 0 1rem;
  font-size: 2.3rem;
}

p {
  margin: 1rem 0;
}

a {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-container {
  max-width: 127rem;
  padding: 0 2rem;
}

body:not(.opening) .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  padding: 0 2rem;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.header__hamburger {
  position: absolute;
  z-index: 2;
  top: 3.5rem;
  right: 1rem;
}

body.opening .header__hamburger {
  pointer-events: none;
  opacity: 0;
}

.header--animationEnd .header__hamburger {
  pointer-events: initial;
  opacity: 1;
}

.logo {
  margin: 2.5rem 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.logo__link {
  pointer-events: none;
}

body:not(.opening) .logo__link,
.header--animationEnd .logo__link {
  pointer-events: initial;
}

body:not(.opening) .logo__svg {
  width: 168px;
  height: 84px;
}

.logo circle {
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

.logo text {
  text-anchor: middle;
  dominant-baseline: middle;
}

.gnav {
  display: none;
}

.gnav--slideUp {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.opening .gnav {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
}

.gnav.is-open {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
}

.gnav__link {
  display: block;
  height: 4rem;
  letter-spacing: .5rem;
  font-size: 1.2rem;
  line-height: 4rem;
}

.hamburger {
  outline: none;
}

.search {
  display: none;
  height: 100%;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.search__input {
  width: 80%;
  height: 100%;
  text-align: center;
  color: #0f2c70;
  outline: none;
  font-size: 1.8rem;
}

.search__btn {
  width: 20%;
  cursor: pointer;
  color: #fff;
  outline: none;
}

.search__bgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  height: calc(100% - 2px * 2);
  -webkit-transform: translateY(-50%) skew(-30deg);
  transform: translateY(-50%) skew(-30deg);
}

.search__bg--white {
  left: 2px;
  width: 80%;
  background-color: #fff;
}

.search__bg--blue {
  right: 0;
  width: 20%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #0f2c70;
}

.search:hover .search__bg--blue {
  background-color: #ff1a84;
}

.article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  padding-bottom: 7rem;
  border-bottom: 1px solid #0f2c70;
  font-size: 1.6rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.opening .article {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
}

.opening .article:nth-child(1) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.opening .article:nth-child(2) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.opening .article:nth-child(3) {
  -webkit-transition-delay: 450ms;
  transition-delay: 450ms;
}

.opening .article:nth-child(4) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}

.opening .article:nth-child(5) {
  -webkit-transition-delay: 750ms;
  transition-delay: 750ms;
}

.opening .article:nth-child(6) {
  -webkit-transition-delay: 900ms;
  transition-delay: 900ms;
}

.opening .article:nth-child(7) {
  -webkit-transition-delay: 1050ms;
  transition-delay: 1050ms;
}

.opening .article:nth-child(8) {
  -webkit-transition-delay: 1200ms;
  transition-delay: 1200ms;
}

.opening .article:nth-child(9) {
  -webkit-transition-delay: 1350ms;
  transition-delay: 1350ms;
}

.opening .article:nth-child(10) {
  -webkit-transition-delay: 1500ms;
  transition-delay: 1500ms;
}

.article--slideUp {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.article__header {
  margin-bottom: 2rem;
}

.article__date {
  display: none;
}

.article__title {
  margin: 0 0 2rem;
  color: #000;
  font-size: 2.4rem;
}

.article__body {
  margin: 0;
}

.article__footer {
  position: absolute;
  right: -.5rem;
  bottom: 0;
}

.date {
  position: relative;
  display: inline-block;
  padding: .3rem 1rem;
  color: #fff;
  border-radius: 3px;
  background-color: #0f2c70;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

.date::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  border-radius: 3px;
  background-color: #ff1a84;
}

.date__year::before {
  content: ', ';
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post__header {
  margin-bottom: 2rem;
}

.post__date {
  display: none;
}

.post__tag {
  margin-top: 2rem;
}

.post__main {
  max-width: 100%;
}

.post__title {
  margin: 0 0 3rem;
  font-size: 2.4rem;
}

.post__body {
  font-size: 1.6rem;
}

.post__body h3 {
  margin: 4rem 0 2rem;
  padding-left: 1.6rem;
  border-left: 5px solid #0f2c70;
  font-size: 2rem;
}

.post__body p {
  margin: 2rem 0;
}

.post__body a {
  color: #ff1a84;
}

.post__body a:hover {
  text-decoration: underline;
}

.post__body code:not(.hljs) {
  padding: 0 .2em;
  border-radius: 3px;
  background-color: #f3f3f3;
}

.footer {
  position: relative;
  padding: 5rem 0;
  text-align: center;
  border-top: 1px solid #0f2c70;
}

.aside__item {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #0f2c70;
}

.aside__item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.opening .aside__item {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
  opacity: 0;
}

.opening .aside__item:nth-child(1) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.opening .aside__item:nth-child(2) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}

.opening .aside__item:nth-child(3) {
  -webkit-transition-delay: 450ms;
  transition-delay: 450ms;
}

.opening .aside__item:nth-child(4) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}

.opening .aside__item:nth-child(5) {
  -webkit-transition-delay: 750ms;
  transition-delay: 750ms;
}

.aside__item--slideUp {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.aside__heading {
  margin: 0 0 2rem;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 1.4;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category__item {
  text-align: center;
  font-size: 1.6rem;
}

.category__item:not(:last-child) {
  margin-right: 2rem;
}

.category__icon {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #0f2c70;
  font-size: 2rem;
  line-height: 5rem;
}

.category__icon::after {
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 50%;
  background-color: #ff1a84;
}

.category__text {
  display: block;
  font-size: 1.3rem;
}

.category__num {
  margin-left: auto;
}

.popularPost {
  counter-reset: ranking;
}

.popularPost__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #0f2c70;
  font-size: 1.4rem;
  line-height: 1.5;
}

.popularPost__item:first-child {
  padding-top: 2rem;
  border-top: 1px dashed #0f2c70;
}

.popularPost__item:first-child::after {
  top: calc(2rem + 2px);
}

.popularPost__item:last-child {
  margin-bottom: 0;
}

.popularPost__item::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  content: counter(ranking);
  counter-increment: ranking;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #0f2c70;
  line-height: 30px;
}

.popularPost__item::after {
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  content: '';
  border-radius: 50%;
  background-color: #ff1a84;
}

.popularPost__link {
  width: calc(100% - 30px - 1rem);
}

.tagCloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tagCloud__item {
  margin: 0 .5rem 1rem;
}

.tagCloud__link {
  position: relative;
  display: inline-block;
  padding: .5rem 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  letter-spacing: .1rem;
  color: #0f2c70;
  border: 1px solid;
  border-radius: 3px;
  font-size: 1.2rem;
}

.tagCloud__link:hover {
  color: #fff;
  background-color: #ff1a84;
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sns__text {
  display: none;
}

.sns__item:not(:last-child) {
  margin-right: 3rem;
}

.sns__icon {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #0f2c70;
  font-size: 2.5rem;
  line-height: 60px;
}

.sns__icon::after {
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 50%;
  background-color: #ff1a84;
}

.opening {
  overflow-y: hidden;
  height: 100vh;
}

.hidden-sm {
  display: none;
}

@media (min-width: 930px) {
  .l-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    margin: 0 auto;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .l-main {
    width: 87rem;
  }

  .l-aside {
    width: calc(30rem + 5rem);
    margin-left: 5rem;
    padding-left: 5rem;
    border-left: 1px solid #0f2c70;
  }

  .l-footer {
    max-width: 127rem;
    margin-right: auto;
    margin-left: auto;
  }

  .header {
    padding: 0;
    text-align: center;
  }

  body:not(.opening) .header,
  .header--animationEnd {
    display: block;
    max-width: 127rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 2rem;
  }

  .header__hamburger {
    display: none;
  }

  .logo {
    margin: 5rem 0;
  }

  .gnav {
    display: block;
    margin: 5rem 0 10rem;
  }

  .gnav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .gnav__item {
    position: relative;
    width: calc(100% / 3);
    margin: 0 3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 1.4rem;
  }

  .gnav__item::before {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    border-radius: 3px;
    background-color: #0f2c70;
  }

  .gnav__item:hover {
    width: 90%;
  }

  .gnav__item:hover::before {
    background-color: #ff1a84;
  }

  .gnav__link {
    color: #fff;
  }

  .article:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  .article {
    margin-bottom: 7.5rem;
    padding-bottom: 7.5rem;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .article__header {
    width: 10rem;
    margin-right: 5rem;
  }

  .article__main {
    width: calc(100% - 10rem - 5rem);
  }

  .date {
    width: 10rem;
    height: 10rem;
    padding: 2.8rem 0 0 0;
    text-align: center;
    border-radius: 50%;
    line-height: 1.4;
  }

  .date::after {
    top: -3px;
    left: -3px;
    border-radius: 50%;
  }

  .date__year::before {
    content: '';
  }

  .post__header {
    width: 10rem;
    margin-right: 5rem;
    text-align: center;
  }

  .post__main {
    width: calc(100% - 10rem - 5rem);
  }

  .footer {
    margin-top: 5rem;
  }

  .aside__item:last-child {
    border-bottom: 1px solid #0f2c70;
  }

  .category {
    display: block;
  }

  .category__item:not(:last-child) {
    margin-right: 0;
  }

  .category__item {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    text-align: start;
    border-bottom: 1px dashed #0f2c70;
  }

  .category__item:first-child {
    padding-top: 2rem;
    border-top: 1px dashed #0f2c70;
  }

  .category__item:last-child {
    margin-bottom: 0;
  }

  .category__icon {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .category__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .category__text {
    display: inline;
    font-size: 1.6rem;
  }

  .sns__icon:hover {
    background-color: #ff1a84;
  }

  .sns__icon:hover::after {
    background-color: #0f2c70;
  }

  .hidden-sm {
    display: block;
  }

  .hover-line-effect {
    position: relative;
  }

  .hover-line-effect::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    content: '';
    -webkit-transition: width .3s;
    transition: width .3s;
    background-color: #ff1a84;
  }

  .hover-line-effect:hover {
    color: #ff1a84;
  }

  .hover-line-effect:hover::after {
    width: 100%;
  }
}
