aside.l-aside.aside
  section.aside__item
    h3.aside__heading Category
    ul.categoryList
      - categories = [];
      - categories[0] = {text: 'Programming', class: 'desktop'};
      - categories[1] = {text: 'Book', class: 'book'};
      each category, i in categories
        li.categoryList__item
          a.categoryList__link(href="#")
            i.categoryList__icon(class=`fa fa-${category.class}`)
            span.categoryList__text.hover-line-effect= category.text

  section.aside__item
    h3.aside__heading Popular Post
    ol.popularPost
      - var i = 0;
      while i < 5
        li.popularPost__item
          a.popularPost__link.hover-line-effect(href="#") WordPressの開発環境をDockerを使って一瞬で立ち上げる
        - i++

  section.aside__item
    h3.aside__heading Tag Cloud
    ul.tagCloud
      each tag, i in ['HTML', 'CSS', 'JavaSciprt', 'WordPress', 'PHP', 'Docker', 'Web service', 'Node.js', 'gulp', 'VIM', 'Atom']
        li.tagCloud__item
          a.tagCloud__link(href="#")= tag

