aside.l-aside.aside
  section.aside__item
    h3.aside__heading category
    ul.categoryList
      - categories = [];
      - categories[0] = {text: 'Programming', class: 'desktop'};
      - categories[1] = {text: 'Book', class: 'book'};
      each category, i in categories
        li.categoryList__item
          a.categoryList__link(href="#")
            i.categoryList__icon(class=`fa fa-${category.class}`)
            span.categoryList__text.hover-line-effect= category.text
  section.aside__item
    h3.aside__heading popular post
    ol.popularPost
      - var i = 0;
      while i < 5
        li.popularPost__item
          a.popularPost__link.hover-line-effect(href="#") WordPressの開発環境をDockerを使って一瞬で立ち上げる
        - i++

