footer.l-footer.footer
  small ©2016 ballxball All Rights reserved.

// build:js scripts/vendor.js
// bower:js
script(src='../../bower_components/animejs/anime.js')
script(src='../../bower_components/Snap.svg/dist/snap.svg-min.js')
script(src='../../bower_components/jquery/dist/jquery.js')
script(src='../../bower_components/prism/prism.js')
// endbower
// endbuild
// build:js scripts/main.js
script(src='scripts/opening.js')
script(src='scripts/search.js')
script(src='scripts/hamburger.js')
script(src='scripts/contact.js')
// endbuild
