header.l-header.header
  h1.logo
    a.logo__link(href="index.html")
      svg#logo.logo__svg
        title ballxball

  nav#js-gnav.gnav
    ul.gnav__container
      - nav = [];
      - nav[0] = {text: 'about', link: 'about.html'};
      - nav[1] = {text: 'contact', link: 'contact.html'};
      - nav[2] = {text: 'search', link: '#'};
      each n, i in nav
        li.gnav__item
          if i === 2
            a.gnav__link.gnav__link--search(href="#")= n.text
            .searchForm
              span.searchForm__bg
              form.searchForm__form(action="search.html")
                input.searchForm__input(type="search" name="s" placeholder="keywrods")
                button(type="submit").fa.fa-search.searchForm__btn
          else
            a.gnav__link(href=`${n.link}`)= n.text

  .header__hamburger
    button#js-hamburger.hamburger.hamburger--squeeze(type="button")
      span.hamburger-box
        span.hamburger-inner

