header.l-header.header
  h1.logo
    a.logo__link(href="/")
      svg#logo.logo__svg
        title ballxball

  nav#js-gnav.gnav
    ul.gnav__container
      each item, i in ['ABOUT', 'ARCHIVE', 'SEARCH']
        li.gnav__item
          if i === 2
            a.gnav__link.gnav__link--search(href="#")= item
            .searchForm
              span.searchForm__bg
              form.searchForm__form(action="search.html")
                input.searchForm__input(type="search" name="s" placeholder="keywrods")
                input.searchForm__btn(type="submit" value="検索")
          else
            a.gnav__link(href="#")= item

  .header__hamburger
    button#js-hamburger.hamburger.hamburger--squeeze(type="button")
      span.hamburger-box
        span.hamburger-inner

