header.l-header.header
  h1.logo
    a.logo__link(href="/")
      svg#logo.logo__svg
  .header__bottom
    ul.iconList
      li.iconList__item
        a(href="#")
          i.iconList__icon.fa.fa-search
      li.iconList__item
        a(href="#")
          i.iconList__icon.fa.fa-rss

    .search
      <gcse:searchbox-only></gcse:searchbox-only>

    nav#gnav.gnav
      ul.gnav__container
        each item in ['ABOUT', 'ARCHIVE', 'SEARCH']
          li.gnav__item
            a.gnav__link(href="#")= item
