extends partials/layout

block body
  body.opening
    include partials/header

    main.l-main
      - var i = 0;
      while i < 10
        article.article
          header.article__header
            time.article__date Sep 15, 2016
            ul.article__tags
              li.article__tag
                a.article__tagLink(href="#") WordPress
              li.article__tag
                a.article__tagLink(href="#") Docker
          h2.article__title
            a(href="page.html") WordPressの開発環境をDockerを使って一瞬で立ち上げる
          div.article__body
            p Sit in ipsum rerum corporis facilis voluptates repudiandae Nisi ab unde nemo minima repudiandae assumenda? Magni magni incidunt temporibus quaerat doloribus, neque Odit voluptatum deserunt reiciendis eaque labore Magni nesciunt.
        - i++

  include partials/footer
