extends partials/layout

block body
  body
    include partials/header

    .l-container
      main.l-main
        - var i = 0;
        while i < 10
          article.article
            header.article__header
              time.article__date 2016-09-15
              span.date
                | Sep 15
                br.hidden-sm
                span.date__year 2016
            .article__main
              h2.article__title.hover-line-effect
                a(href="page.html") WordPressの開発環境をDockerを使って一瞬で立ち上げる
              p.article__body WordPressの勉強をするときにまず最初にしなければならないのが、開発環境の構築。LAMPやVagrantなどを使った方法もありますが、今回はDockerを使った開発環境の構築のやり方を紹介します。
            .article__footer
              ul.tagCloud
                li.tagCloud__item
                  a.tagCloud__link(href="#") WordPress
                li.tagCloud__item
                  a.tagCloud__link(href="#") Docker
          - i++

      include partials/aside

    include partials/footer
