extends partials/layout

block body
  body
    include partials/header

    .l-container
      main.l-main
        include partials/article
        include partials/pager
      include partials/aside

    include partials/footer
