extends partials/layout

block body
  body.single
    include partials/header

    .l-container
      main.l-main
        include partials/post
      include partials/aside

  include partials/footer
