extends partials/layout

block body
  body.search
    include partials/header

    .guide
      p.guide__text WordPressの検索結果 10件

    .l-container
      main.l-main
        include partials/article
        include partials/pager
      include partials/aside

    include partials/footer
